<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cats</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div id="container">
        <p>EJS Cats</p>

        <a href="/cuddles"><img id="cat1" src="images/kitty1.jpg"></a>
        <a href="/bubbles"><img id="cat2" src="images/kitty4.jpg"></a>
        <a href="/tuples"><img id="cat3" src="images/kitty3.jpg"></a>

    </div>

</body>

</html>